# Virtual Environment
.venv/
venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# Database
*.db
*.sqlite

# Logs
*.log

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db



